<kendo-grid [pageable]="true" (pageChange)="pageChange($event)" [data]="allStudents" (add)="addHandler($event)"
  (edit)="editHandler($event)" (cancel)="canceledHandler($event)">

  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand class="btnAdd" *ngIf="!isInEditingMode">Add new</button>
  </ng-template>

  <kendo-grid-column field="id" title="ID"></kendo-grid-column>
  <kendo-grid-column field="name" editor="text" title="Name"></kendo-grid-column>
  <kendo-grid-column field="gender" editor="text" title="Gender"></kendo-grid-column>
  <kendo-grid-column field="address" editor="text" title="Address"></kendo-grid-column>
  <kendo-grid-column field="mobile" editor="text" title="Mobile No"></kendo-grid-column>
  <kendo-grid-column field="dob" editor="text" title="Date of Birth"></kendo-grid-column>
  <kendo-grid-column field="age" editor="text" title="Age"></kendo-grid-column>
  <kendo-grid-column title="Command">

    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
      <button kendoGridEditCommand class="btnEdit" (click)="editHandler($event)">Edit</button>
      <div *ngIf="isNew">
        <button kendoGridSaveCommand (click)="saveCurrent()" [disabled]="formGroup?.invalid">Add</button>
      </div>
      <div *ngIf="!isNew">
        <button kendoGridSaveCommand (click)="updateStudent(dataItem)" [disabled]="formGroup?.invalid">Update</button>
      </div>
      <button kendoGridCancelCommand (click)="cancelHandler()">
        {{ isNew ? "Discard changes" : "Cancel" }}
      </button>
      <button class="btnRemove" kendoGridRemoveCommand (click)="removeStudent(dataItem)">Remove</button>
    </ng-template>

  </kendo-grid-column>

</kendo-grid>